body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, serif;
  background-color: #f5f5f5;
}

#header {
  margin-top: 0;
  padding-bottom: 10px;
}

.logo {
  display: block;
  width: 150px;
  height: 50px;
  margin: 0 auto;
}

.H-desc {
  padding-top: 5px;
  text-align: center;
  font-size: 7pt;
  background-color: #fafaec;
  border-top: 1px #ffa502 solid;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

.container-1 p {
  text-align: center;
}

.img-1 {
  display: block;
  border-radius: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.image-credit {
  color: rgb(146, 146, 146);
  text-align: center;
  font-size: small;
  padding-top: 1px;
}

#featured {
  margin-left: 21rem;
  border-left: 1px #ffa502 solid;
  padding-left: 10px;
}

#featured p {
  color: red;
  padding-bottom: 0;
  margin-bottom: 0;
}

#featured a {
  color: #677c67;
  padding-top: 0;
  margin-top: 0;
  font-size: small;
}

.container-2 h2 {
  margin-left: 21rem;
  border-bottom: 0.1px #e1e9e1 solid;
  padding-bottom: 20px;
  margin-right: 26rem;
}

.container-2 ul .info-details {
  margin-left: 18rem;
  margin-right: 26rem;
  padding-bottom: 20px;
}

.container-2 li {
  margin-left: 18rem;
  font-size: 12pt;
}

.container-2 ul p {
  margin-left: 18rem;
}

.container-3 p {
  margin-left: 20rem;
}

.container-3 span {
  color: #677c67;
  padding-bottom: 20px;
}

.container-2 ul .three {
  border-bottom: 0.1px #e1e9e1 solid;
}
